.aboutContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutDescContainer{
  width: 530px;
}
.aboutTitle{
  width: 620px;
  margin: 0px 0px 20px 0;
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  text-transform: uppercase;
  text-align: left;
  color: var(--txt-c-light);
}
.aboutText span{
  width: 450px;
  padding: 4px 9px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: var(--c-dark-blue);
  background: var(--c-light);
}
.aboutText{
  width: 406px;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--c-light);
  margin: 0 0 30px 0;
}
.aboutText:last-child{
  width: 388px;
  margin-bottom: 0;
}
.aboutImgContainer{
  position: relative;
  width: 460px;
}
.aboutImgText{
  font-weight: bold;
  /* font-size: 150px;
  line-height: 180px; */
  text-transform: uppercase;
  color: var(--c-dark-blue);
  writing-mode: tb-rl;
  /* writing-mode:vertical-lr; */
  /* display: flex;
  align-items: center; */
  font-size: 250px;
  line-height: 300px;
  /* right: -223px;
  top: -23px;
  z-index: 1; */
}
.aboutImg{
  width: 420px;
  position: absolute;
  top: 10%;
    right: 22%;


}
.aboutProjectsBar{
}
.aboutProjectsCount{
  width: 170px;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 0;
  margin-bottom: 35px;
  /* margin-top: 15px; */
  font-weight: bold;
  font-size: 65px;
  line-height: 78px;
  color: var(--txt-c-light);
  background: var(--c-accent);
}
.aboutProjectsText{
  font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    color: var(--txt-c-light);
    text-transform: uppercase;
    width: 125px;
}