.header {
  position: fixed;
  padding: 20px 0 20px 0;
  width: 100%;
  z-index: 3;
  background-color: var(--c-dark);
  border-bottom: 1px solid var(--c-accent);
  box-shadow: var(--c-accent) 0px 0px 5px 0px;
}
.headerContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerLogo{
  width: 163px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-family: GreatVibes;
  font-size: 30px;
  line-height: 28px;
  color: var(--txt-c-grey);
}
.headerLogo svg{
  position: absolute;
  z-index: 1;
  left: 0%;
  width: 100px;
  height: auto;
}
.headerList {
  width: 360px;
  justify-content: space-between;
  color: var(--txt-c-grey);
}
/* .headerPart{} */
.headerPartFile{
font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--c-accent);
}
.headerPartFile:hover,
.headerPartFile:focus{
  color: var(--txt-c-light);
}